/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(43, 71, 43);
  display:grid;
}

.boblogo {
  grid-column-start: 1;
  grid-row-start:1;
  height:10rem;
  width:10rem;
  background-color:rgb(125, 12, 12);
  border-radius:7rem;
}

img {
  width: 100%;
        display: block;
        margin: 0 auto;
        grid-column-start: 2;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #019514;
  background-color:rgb(7, 28, 16);
  grid-column-start: 1;
  grid-column-end:4;
  
}

.headersection {
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;
  background-color:#8b6f14;
}

.headertext {
  grid-column-start: 2;
  font-size:xx-large;
  text-align:center;
  background-color:  #be981b;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top:3.5rem;
}

.sitemenu {
  list-style-type:none;
  padding-left:2rem;
  padding-bottom:1rem;
}

.sitemenutitle {
  list-style-type:none;
  padding-left:2rem;
  padding-top:1rem;

}

header {
  background-color:rgb(43, 71, 43);
}

footer {
  background-color:#8b6f14;
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;

}

.mainstuff {
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;
}

h2 {
  grid-column-start: 2;
  padding-left:1rem;
}

h3 {
  grid-column-start: 2;
  padding-left:1rem;
}

section {
  grid-column-start: 2;
  background-color: #be981b;
  padding-bottom:1rem;
}

.footertext {
  grid-column-start: 2;
  font-size:xx-large;
  text-align:center;
  background-color:  #be981b;
  padding-top:2rem;
}

.footermisc {
  grid-column-start: 2;
  text-align:center;
  background-color:  #be981b;
  padding:0rem;
}

.divider {
  background-color:rgb(7, 28, 16);
  grid-column-start: 1;
  grid-column-end:4;
  color: rgb(7, 28, 16);
}

.copyright {
  padding-left:11rem;
}

p {
  padding-left:1rem;
  padding-bottom: 1rem;
}

table {
  padding-left:1rem;
}

.tablesection {
  display:grid;
  grid-template-columns: 1fr 1fr; 
}

.tablestuff {
  grid-column-start: 1;
  grid-row-start: 1;
}

.tablelogo {
  padding-top:7rem;
}

.subscribe {
  background-color: darkred;
  border-radius:5rem;
  border-color:darkred;
  font-size:x-large;
}

.calltoaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding:3rem;
}

.actiontext {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  padding-left:6rem;
  padding-top:2rem;
  font-size:xx-large;
}

.actionbutton {
  grid-column-start: 3;
  grid-row-start: 1;
  padding-top:8rem;
  padding-left:2rem;
  color: rgb(54, 151, 54);
  text-decoration:none;
}

.actionimage {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  border-radius: 2rem;
}

.actionlogo {
  grid-column-start: 1;
  grid-row-start: 1;
  padding:1rem;
  background-color:rgb(255, 153, 153);
  border-radius:17rem;
}

.form {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

form {
  grid-column-start: 1;
  grid-column-end: 5;
}

.feedbacktype {
  grid-column-start: 1;
}

.actionp {
  grid-column-start: 1;
  grid-column-end:5;
  grid-row-start:1;
  font-size:x-large;
  text-align:center;
  padding-top:26rem;
  color:rgb(54, 151, 54);
}